body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    gap: 1rem;
    font-weight: bold;
  }
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  margin:0;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
